POSTGRES_USER=gv
POSTGRES_PASSWORD=
POSTGRES_DB=gv-db
DATABASE_URL=postgresql://gv:<POSTGRES_PASSWORD>@db:5432/gv-db?sslmode=disable
PORT=8080
ALLOWED_ORIGINS=https://gv.lab-ocp.com

PASSWORD=
SEMIPRIVATE_PASSWORD=
JWT_SECRET=
TOTP_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URL=https://gv-api.lab-ocp.com/calendar/google/callback
GOOGLE_TOKEN_KEY=
CALENDAR_WEBHOOK_URL=https://gv-api.lab-ocp.com/calendar/google/webhook
